.adminPanel-container {
    display: flex;
}

.sidebar {
    background-color: var(--dark-blue);
    min-height: 100vh;
}

.sidebar h4 {
    color: var(--main-text-color-white);
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
}

a {
    color: var(--main-text-color-white);
}

.operation {
    font-size: 20px;
}

.operation:hover,
.operation:active {
    cursor: var(--cursor-ptr);
    font-weight: bold;
}
.edit {
    color: var(--success-color);
}

.delete {
    color: var(--error-color);
}

.theme-box {
    display: flex;
    font-weight: bold;
    border: none;
}

.theme-btn {
    width: 20px;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: var(--main-text-color-white);
    font-weight: bold;
    border: none;
}

.active {
    background-color: var(--active-color);
}

.card-deck {
    display: flex;
}

.card {
    border: 1px solid var(--black-color);
}

/*Admin panel list item*/
.header {
    display: flex;
    justify-content: space-between;
}

.bi-plus-square {
    font-size: 30px;
    font-weight: bold;
    color: var(--success-color);
}

.bi-plus-square:active,
.bi-plus-square:hover {
    cursor: var(--cursor-ptr);
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}
