.img-catalog {
    height: 300px;
    width: auto;
    border-bottom: 2px solid black;
}

h5 {
    font-size: 90%;
    font-weight: bold;
}

.bi-heart {
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.bi-heart:hover,
.bi-heart:active {
    color: blue;
}

#select-vydavatelstva {
    margin-bottom: 15px;
}

.card {
    border: 2px solid black;
    width: 210px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.card-deck {
    justify-content: center;
}

.card-body a {
    color: black;
    text-decoration: none;
}

.cfooter {
    display: flex;
    justify-content: space-between;
}

/*SINGLE BOOK*/
.singleBook-container {
    display: flex;
    margin-bottom: 20px;
}

.singleBook-list li,
.filter-ul li {
    list-style-type: none;
}

.singleBook-img {
    width: 200px;
}

.title {
    font-weight: bold;
}

#review-container {
    background-color: white;
    padding-bottom: 50px;
    border-radius: 10px;
}

.reviewClass {
    background-color: rgb(210, 232, 238);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
}

.review-header {
    margin-top: 15px;
}

.reviewClass label {
    align-self: flex-end;
    font-size: small;
    width: 20%;
}
