.img-catalog {
    height: 300px;
    width: auto;
    border-bottom: 2px solid var(--black-color);
}

h5 {
    font-size: 90%;
    font-weight: bold;
}

.bi-heart {
    color: var(--error-color);
    font-weight: bold;
    font-size: 25px;
}

.bi-heart:hover,
.bi-heart:active {
    color: var(--main-light-blue);
}

#select-vydavatelstva {
    margin-bottom: 15px;
}

.card {
    border: 2px solid var(--black-color);
    width: 210px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.card-deck {
    justify-content: center;
}

.card-body a {
    color: var(--black-color);
    text-decoration: none;
}

.cfooter {
    display: flex;
    justify-content: space-between;
}

/*SINGLE BOOK*/
.singleBook-container {
    display: flex;
    margin-bottom: 20px;
}

.singleBook-list li,
.filter-ul li {
    list-style-type: none;
}

.singleBook-img {
    width: 200px;
    border: 2px solid var(--black-color);
}

.title {
    font-weight: bold;
}

#review-container {
    background-color: var(--main-text-color-white);
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.review {
    background-color: var(--main-bg-color);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
}

.review-header {
    margin-top: 15px;
}

.review label {
    align-self: flex-end;
    font-size: small;
    width: 20%;
}

@media only screen and (max-width: 1250px) {
    .singleBook-container {
        flex-direction: column;
        align-items: center;
    }
}
