.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form h3 {
    text-align: center;
    font-weight: bold;
    color: #333;
}

.login-container form {
    padding: 10%;
}

.form-group {
    padding-top: 10px;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    background-color: #0c2d48;
    color: white;
}

.btnSubmit:active,
.btnSubmit:hover {
    color: orange !important;
}

.login-form .btnSubmit {
    font-weight: 600;
    color: #fff;
}

.login-form .ForgetPwd {
    font-weight: 600;
}
