.title {
    font-weight: bold;
}

#passMsg,
#emailMsg,
#firstnameValidation,
#lastnameValidation {
    color: var(--validation-message);
    font-size: 15px;
}

.hidden {
    display: none;
}

.error {
    color: var(--error-color);
    font-size: small;
}

.icon {
    background-color: var(--dark-blue);
    color: var(--main-text-color-white);
}

.btn:hover,
.btn:active {
    color: var(--hover-active-button);
}
