.main-container {
    display: flex;
    justify-content: center;
}

/***** Contact information *****/
.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-blue);
    box-shadow: 0px 0px 13px 1px var(--shadow-color);
    border-radius: 1rem;
    color: var(--main-text-color-white);
    padding: 2vw;
}

.contact-info ul {
    list-style-type: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.contact-info h4 {
    margin-bottom: 1.8vw;
    font-weight: bold;
}
.contact-info li {
    margin-bottom: 2vw;
    font-size: 120%;
}

.ci-footer {
    display: flex;
    justify-content: space-around;
    font-size: 140%;
}

.ci-footer i {
    cursor: pointer;
}

.contact-btn {
    width: 100%;
    background-color: var(--main-bg-color);
    color: var(--dark-blue);
    border: none;
    border-radius: 1rem;
    font-size: 150%;
}

.contact-btn:hover,
.contact-btn:active {
    cursor: var(--cursor-ptr);
    background-color: var(--dark-blue);
    color: var(--hover-active-button);
}

/***** Form *****/
.contact-form {
    display: flex;
    flex-direction: column;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    background-color: var(--main-text-color-white);
    border-radius: 2vw;
    padding: 2vw;
}

.contact-form span {
    color: var(--black-color);
    font-size: 150%;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    font-size: 120%;
    background-color: var(--main-text-color-white);
    border: none;
    margin: 1px;
}

@media only screen and (max-width: 800px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }
}
